body {
    background-image: url(/carousel-practice/img/baseball_tyler-hilton-j0NC55PxYy0-unsplash.jpg);
}

h1 {
    background-color: white;
    opacity: 0.7;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: #9E2631;
    text-decoration: none;
    font-weight: bold;
}